.profile__edit-button {
    width: 24px;
    height: 24px;
    /* position: absolute;
    top: 34px;
    right: 0px; */
    cursor: pointer;
    margin: 15px 0 0 10px;
}

.profile__edit-button:hover {
    opacity: 0.5;
}


@media (max-width: 500px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 36px 0 0 10px;
    }
}