.form__button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.form__button:hover {
    opacity: 0.6;
}