.popup__container {
    background-color: #FFFFFF;
    max-width: 430px;
    width: 430px;
    padding: 34px 0 37px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}