.profile__edit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto 0 0;
}

@media (max-width: 500px) {
    .profile__edit {
        margin: 0 auto;
    }
}