.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 30px;
    position: relative;
}

@media (max-width: 600px) {
    .profile__info {
        margin: 0 auto 0 15px;
    }
}

@media (max-width: 500px) {
    .profile__info {
        min-width: 282px;
        margin: 0 auto;
    }
}